body{
    margin-top: 5rem;
}
.form{
    padding: 0px 30px 10px 30px;
    color: black;
    width: 30%;
    margin: auto;
    background-color: #E5D9F2;
}
.form-group{
    display: flex;
    flex-direction: column;
}
h3{
    text-align: center;
    color: #4C1F7A;
    padding-top: 10px;
}
label{
    color: black;
    font-size: larger;
    margin: 10px 0px ;
    
}
#textarea{
    left:40px;
}
#id_catagory{
    padding:10px 20px;
    width: 80%;
    position: relative;
    left:40px;
}
.form .form-group span input{
    display: block;
    width: 67%;
    padding:0px 20px;
    position: relative;
    left:40px;
    border: none;
    border-bottom: 1px solid #33333373;
    font-size: large;
    outline: none;
    background-color: transparent;
}
input.submit{
    width: 90%;
    margin:30px 0px 0px 5px;
    padding: 10px 0px ;
    background-color:#4C1F7A;
    color: #E5D9F2;
    border: none;
}
.modal {
    display: none;  /* Hidden by default */
    position: fixed;
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}