body{
    margin-top: 6rem;
}
.form{
    padding: 30px;
    color: black;
    width: 25%;
    margin: auto;
    background-color:#f1eded;
}
.form-group{
    display: flex;
    flex-direction: column;
}
h2{
    text-align: center;
    color: chocolate;
}
label{
    color: black;
    font-size: larger;
    margin: 20px 0px ;
    
}
.form .form-group span input{
    display: block;
    padding:0px 20px;
    position: relative;
    left:40px;
    border: none;
    border-bottom: 1px solid #33333373;
    font-size: large;
    outline: none;
    background-color: transparent;
}
input.submit{
    width: 90%;
    margin:30px 0px 0px 5px;
    padding: 10px 0px ;
    background-color: chocolate;
    color: #f1eded;
    border: none;
}