{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>

    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="left">
            <ul>
                <li><a href="list_items">Stock Items</a></li>
                <li><a href="add_catagory">Add Catagory</a></li>
                <li><a href="add_items">Add Items</a></li>
                <li><a href="list_history">Generate Report</a></li>
            </ul>
        </div>
        <div class="right">
            <div class="inner_container">
                <div class="inner_upper_container">
                    <div class="ui_container 1">
                        <h3>Inventory Summary</h3>
                        <div class="boxes">
                            <div class="inner_boxes">
                                <div class="upper_inner_box">
                                    <img src="../static/img/recieved.png" style="width: 40px;padding-left:40px;padding-top: 10px;" alt="">
                                    <p style="text-align: center; padding:5px;margin-bottom: 0;">Items in hand</p>
                                    <p style="text-align: center; font-size: large; font-weight: 400;">345</p>
                                </div>
                            </div>
                            <div class="inner_boxes">
                                <div class="upper_inner_box">
                                    <img src="../static/img/send.png" style="width: 40px;padding-left: 40px;padding-top: 10px;" alt="">
                                    <p style="text-align: center; padding:5px;margin-bottom: 0;">Items issued</p>
                                    <p style="text-align: center; font-size: large; font-weight: 400;">35</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ui_container 3"><h3>Users</h3>
                        <div class="box3">
                            <img src="../static/img/low.png" style="width: 60px;height:60px;padding-top: 30px;" alt="">
                            <div class="box3_left">
                                <p style="font-size: medium;padding-top: 10px;">Low Stock Items</p>
                                <p style="text-align: center;font-size: larger;font-weight: 400;">3</p>
                            </div>
                        </div>
                    </div>
                    <div class="ui_container 3"><h3>Users</h3>
                        <div class="box3">
                            <img src="../static/img/catagories.png" style="width: 60px;height:60px;padding-top: 30px;" alt="">
                            <div class="box3_left">
                                <p style="font-size: medium;padding-top: 10px;">Number Of Catagories</p>
                                <p style="text-align: center;font-size: larger;font-weight: 400;">13</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="inner_lower_container">  
                    <div class="list_container">
                        <h3>Recent Activities</h3>
                        <table class='table'>
                          <thead>
                            <tr>
                              <th>Count</th>
                              <th>Catagory</th>
                              <th>Item Name</th>
                              <th>Quantity</th>
                              <th>Last Update</th>
                            </tr>
                          </thead>
                        {% for instance in page_obj.object_list %}
                            <tr>
                
                              <td>{{forloop.counter}}</td>
                              <td>{{instance.catagory}}</td>
                              <td>{{instance.item_name}}</td>
                              <td>{{instance.quantity}}</td>
                              <td>{{instance.last_updated}}</td>
                            </tr>
                        {% endfor %}
                      </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>