{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/list_items.css' %}">
</head>
{% include 'navbar.html' %}
<body>

    <div class="list_container">
        <form method='POST' action=''>{% csrf_token %}
            <h2> Search Items</h2>
            {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                <span class="field">{{ field }}</span>
            </div>
        {% endfor %}
                <input class="search" type="submit" value='Search'/>
        </form>
        <br>
        
        <table>
            <tr class="table_head">
                <td> No</td>
                <td> Catagory</td>
                <td> Item Name </td>
                <td> Quantity </td>
                <td> Modify</td>
                <td> Delete</td>
            </tr>
            {% for item in queryset %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.catagory}}</td>
                <td>{{item.item_name}}</td>
                <td>{{item.quantity}}</td>
                <td><a href="{% url 'update_items' item.id %}">Edit 🛠</a></td>
                <td><a href="{% url 'delete_items' item.id %}">Del 🧺</a></td>
            </tr>
            {% endfor %}
           
        </table>

    </div>
</body>
</html>