{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/list_items.css' %}">
</head>
{% include 'navbar.html' %}
<body>
    <div class="list_container"> 
        <form method='POST' action=''><input type="hidden" name="csrfmiddlewaretoken" value="NqR5QQKFrqWzr2Zlk4ojzvM26OKiGRzYAtzFCEV1LASftKAjf3maJdh4qYBzpvPG">
            <div class="search-title">
                <h2 style="display: block;"> Filter Items</h2>
            </div>
            <div class="lower-search">
                <div class="lower_upper_search">
                    <label for="{{ form.catagory.id_for_label }}">Category</label><br>
                    <span class="field">
                        {{ form.catagory }}  <!-- This will render the dropdown -->
                    </span>
                      
                    <div class="form-group">
                        <label for="id_item_name">Item name</label><br>
                        <span class="field"><input type="text" name="item_name" id="id_item_name"></span>
                    </div>
                      
                    <div class="form-group">
                        <label for="id_min_price">Min Price</label><br>
                        <span class="field"><input type="number" name="min_price" step="0.01" id="id_min_price"></span>
                    </div>
                      
                    <div class="form-group">
                        <label for="id_max_price">Max Price</label><br>
                        <span class="field"><input type="number" name="max_price" step="0.01" id="id_max_price"></span>
                    </div>
                </div>    
                <div class="checkboxes">
                    <div class="form-group" id="export">
                        <label for="id_export_to_CSV">Export to csv</label><br>
                        <span class="field"><input type="checkbox" name="export_to_CSV" id="id_export_to_CSV"></span>
                    </div>
                      
                    <div class="form-group" id="shortage">
                        <label for="id_Short_stocks">Short stocks</label><br>
                        <span class="field"><input type="checkbox" name="Short_stocks" id="id_Short_stocks"></span>
                    </div>    
                </div>  
                  
            </div>
            <input class="search" type="submit" value='Search'/>
        </form>     
        <div class="lists">
            <table>
                <tr class="table_head">
                    <td> No</td>
                    <td> Catagory</td>
                    <td> Description </td>
                    <td> Item Name </td>
                    <td> Quantity </td>
                    <td> Price </td>
                    <td> Reorder_Level</td>
                    <td> Edit</td>
                    <td> Date Created </td>
                    <td> Last Modified</td>
                    <td> Del</td>
                </tr>
                {% for item in page_obj.object_list %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{item.catagory}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.item_name}}</td>
                    <td><a href="{% url 'stock_detail' item.id %}">
                        {% if item.quantity <= item.reorder_level %}
                        <span style="background-color: orange;">{{item.quantity}}</span>
                        {% else %}{{item.quantity}}
                        {% endif %}</a>
                      </td>
                    <td>{{item.price}}</td>
                    <td>{{item.reorder_level}} <a href="{% url 'reorder_level' item.id %}"><img style="width: 17px; padding-left: 3px;" src="../static/img/adjust.png" alt="" srcset=""></a></td>
                    <td><a href="{% url 'update_items' item.id %}"><img style="width:10px" src="../static/img/edit.png" alt=""></a></td>
                    <td>{{item.creation_date|date:"d-m-Y"}}</td>
                    <td>{{item.last_updated|date:"d-m-Y"}}</td>
                    <td><a href="{% url 'delete_items' item.id %}"><img style="width:15px" src="../static/img/delete.png" alt=""></a></td>
                </tr>
                {% endfor %}
            </table>
            {% if messages %}
            <ul class="messages">
                   {% for message in messages %}
                         <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                   {% endfor %}
           </ul>
        {% endif %}
            <div class="pagination_styles">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}"><img style="width: 30px;margin-top: 10px;" src="../static/img/previous.png" alt=""></a>
                    {% endif %}
        
                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>
        
                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}"><img style="width: 30px;margin-top: 10px;" src="../static/img/next-button.png" alt=""></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last </a>
                    {% endif %}
                </span>
            </div>
        </div>
        </div>
    </div>
</body>
</html>