{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/list_items.css' %}">
</head>

<body>
    <form method='POST' action=''>{% csrf_token %}
        {{form}}
        <input type="submit" value='Search'/>
    </form>
    </form>
    <div class="list_container">
            <table class='table'>
              <thead>
                <tr>
                  <th>COUNT</th>
                  <th>ID</th>
                  <th>CATAGORY</th>
                  <th>ITEM NAME</th>
                  <th>QUANTITY IN STORE</th>
                  <th>ISSUE QUANTITY</th>
                  <th>RECEIVE QUANTITY</th>
                  <th>LAST UPDATED</th>
                </tr>
              </thead>
            {% for instance in page_obj.object_list %}
                <tr>
    
                  <td>{{forloop.counter}}</td>
                  <td>{{instance.id}}</td>
                  <td>{{instance.catagory}}</td>
                  <td>{{instance.item_name}}</td>
                  <td>{{instance.quantity}}</td>
                  <td>{{instance.issue_quantity}}</td>
                  <td>{{instance.receive_quantity}}</td>
                  <td>{{instance.last_updated}}</td>
                </tr>
            {% endfor %}
          </table>
        </div>
        <div>
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>