{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/list_history.css' %}">
</head>
{% include 'navbar.html' %}
<body>
      <form method='POST' action=''><input type="hidden" name="csrfmiddlewaretoken" value="fraPrfqpIoWeyXvnN4gk3Do5u4boRhW02uSpd3BL2ySUAF6lI3ebdlT7Oe2FAVcI">
          <div class="catagory">
              <label for="{{ form.catagory.id_for_label }}">Category</label><br>
              <span class="field">
                {{ form.catagory }}  
              </span>
          </div>
          <div class="lower_search">
            <div>
              <label for="id_item_name">Item name:</label>
              <input type="text" name="item_name" maxlength="50" id="id_item_name">
              </div>
              <div>
              <label for="id_start_date">Start date:</label>
              <input type="text" name="start_date" id="id_start_date">
              </div>
              <div>
              <label for="id_end_date">End date:</label>
              <input type="text" name="end_date" id="id_end_date">
              </div>
              <div>
              <label for="id_export_to_CSV">Export to csv:</label>
              <input type="checkbox" name="export_to_CSV" id="id_export_to_CSV">
              </div>
          </div>
          
              <input  class="search" type="submit" value='Search'/> 
      </form>
    <div class="list_container">
            <table class='table'>
              <thead>
                <tr>
                  <th>COUNT</th>
                  <th>ID</th>
                  <th>CATAGORY</th>
                  <th>ITEM NAME</th>
                  <th>QUANTITY IN STORE</th>
                  <th>ISSUE QUANTITY</th>
                  <th>ISSUED TO</th>
                  <th>RECEIVE QUANTITY</th>
                  <th>LAST UPDATED</th>
                </tr>
              </thead>
            {% for instance in page_obj.object_list %}
                <tr>
    
                  <td>{{forloop.counter}}</td>
                  <td>{{instance.id}}</td>
                  <td>{{instance.catagory}}</td>
                  <td>{{instance.item_name}}</td>
                  <td>{{instance.quantity}}</td>
                  <td>{{instance.issue_quantity}}</td>
                  <td>{{instance.issue_to}}</td>
                  <td>{{instance.receive_quantity}}</td>
                  <td>{{instance.last_updated|date:"d-m-Y"}}</td>
                </tr>
            {% endfor %}
          </table>
        </div>
        <div>
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
    
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
    
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>
</body>
</html>