    <nav>
        <ul>
            <li ><a href="" class="Brand">SafeKeep</a></li>
            <li><a href="/list_items">List Items</a></li>
            <li><a href="/add_items">Add List Items</a></li>
            <li class="nav-item">
                <a class="nav-link" href="/list_history">List History</a>
             </li>
        </ul>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    </nav>

    <style>
        .Brand{
            font-family:cursive;
            font-size: large;
            letter-spacing: 2px;
            font-weight: bold;
            padding: 0rem 8rem 4rem 4rem;
            padding-right: 8rem;
            color: chocolate;
        }
        a{
            padding-top: 10px;
        }
        nav {background-color:#f1eded;height: 60px ;position: fixed;width:100%;top: 0;}
        body {margin:0 ; padding:0; box-sizing: border-box;}
        ul {color: white; list-style: none; display: inline; margin: auto; padding-top: 5px;}
        ul li a{float: left;display: block;color:#333;text-align: center;padding: 0px 30px 10px 30px;text-decoration: none; font-size: medium;}
    </style>