{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/add_items.css' %}">
</head>
{% include 'navbar.html' %}    
<body style="margin-top: 6rem;">
    <form class="form" method="POST" action="">
        {% csrf_token %}
            <h3>{{title}}</h3>
            <div class="form-group">
                <label for="id_quantity">Quantity</label>
                <span class="field"><input type="number" name="receive_quantity" value="0" required id="receive_quantity"></span>
            </div>
        <input class="submit" type="submit" value='Save'/>
    </form>
</body>
</html>