{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{% static 'css/add_items.css' %}">
</head>
{% include 'navbar.html' %}    
<body style="margin-top: 6rem;">
    <form class="form" method="POST" action=""><input type="hidden" name="csrfmiddlewaretoken" value="tehCmW6DJPMQybiYdZ4c7PRbuo3XOtpOghZc8KhZ3ZIwATTW8Y23hxmdOyUex7Fw">
            <h3>{{title}}</h3>
            <div class="form-group">
                <label for="id_quantity">Quantity</label>
                <span class="field"><input type="number" name="quantity" value="0" required id="id_quantity"></span>
            </div>
        <input class="submit" type="submit" value='Save'/>
    </form>
</body>
</html>